@model ImportToCSVSearchModel

@{
    Layout = "_AdminLayout";
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Plugins.Misc.FFM.ImportToCsv");
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugins.Misc.FFM.ImportToCsv")
    </h1>
    <div class="float-right">
        <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
            <i class="fas fa-upload"></i>
            @T("Admin.Common.Import")
        </button>
    </div>
</div>
<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="importexcel-window-title">@T("Plugins.Misc.FFM.ImportToCSV")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form asp-controller="ImportToCSV" asp-action="ImportToCSV" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="col-form-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Plugins.Misc.FFM.ImportToCSV")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "importtocsv-grid",
                            UrlRead = new DataUrl("List", "ImportToCSV", null),
                            UrlUpdate = new DataUrl("ImportToCSVUpdate", "ImportToCSV", null),
                            UrlDelete = new DataUrl("DeleteImportToCSV", "ImportToCSV", null),
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            ColumnCollection = new List<ColumnProperty>
                                {
                                new ColumnProperty(nameof(ImportToCSVModel.ProductName))
                                {
                                    Title = T("Plugins.Misc.FFM.ImportToCSV.ProductName").Text,
                                    Editable = true,
                                    EditType = EditType.String
                                },
                                new ColumnProperty(nameof(ImportToCSVModel.Sku))
                                {
                                    Title = T("Plugins.Misc.FFM.ImportToCSV.Sku").Text,
                                    Editable = true,
                                    EditType = EditType.String
                                },
                                new ColumnProperty(nameof(ImportToCSVModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonsInlineEdit()
                                },
                                new ColumnProperty(nameof(ImportToCSVModel.Id))
                                {
                                    Title = T("Admin.Common.Delete").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
                                }
                            }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>